*,
html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #160029;
}

body.modal-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

/* Estilo para ofuscar a visão atrás do modal */
body.modal-open {
  overflow: hidden;
}

/* Estilo para o fundo escuro do modal */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para o container do modal */
.modal-container {
  background-color: #380a21;
  padding: 20px;
  border-radius: 5px;
  border-right: 2px solid #bb005d7a;
  border-bottom: 4px solid #bb005d7a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

/* Estilo para centralizar o modal na tela */
.modal-container form {
  display: flex;
  flex-direction: column;
}

.title-modal {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-form {
  text-align: right;
}

input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(90, 90, 90, 0.589);
  border-right: 1px solid rgba(90, 90, 90, 0.589);
  width: 170px;
  margin-top: 1rem;
  margin-right: 2rem;
}

.text-error {
  margin-left: 1.3rem;
  margin-top: 1rem;
  background-color: rgba(255, 0, 0, 0.39);
  color: #fff;
  width: 230px;
  border-radius: 0.3rem;
  text-align: center;
}

input:focus {
  outline: none;
}

#accessSystem {
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  font-weight: bold;
  margin: auto;
  margin-top: 1rem;
  width: 50px;
  height: 25px;
  background-color: #160029;
  cursor: pointer;
}

#accessSystem:hover {
  background-color: #16002963;
}

.flex {
  display: flex;
}

.horz {
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  width: 100%;
  height: 3.125rem;
  background-color: #00082c70;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: auto;
}

nav ul a {
  text-decoration: none;
  color: #000;
}

.main-container {
  background-color: #35353567;
  border-radius: 0.5rem;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}
.test-container {
  padding: 1rem;
}

.test-container-header {
  text-align: left;
}

.test-container-header h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.border {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 95%;
  border: 1px solid #000;
}

.first-col {
  width: 33%;
}

.second-col {
  width: 33%;
}

.third-col {
  width: 33%;
}

.no-style {
  list-style: none;
}

.no-link {
  text-decoration: none;
  color: #fff;
}

.test-selection {
  line-height: 2rem;
}

.tests {
  justify-content: space-between;
  margin-left: 2%;
}


/* loader */

.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #D1C2FF;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

